body {
    background-color: #eee;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

.pure-menu.pure-menu-horizontal {
    background-color: #111;
    position: fixed;
    top: 0;
    z-index: 100;
}

.pure-menu-link {
    color: #fafafa;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: #333;
}

.pure-menu-children {
    background-color: #555;
}

.pure-menu-horizontal .pure-menu-children {
    min-width: 100%;
}

div#content {
    margin: 4em 2em;
}

div#story-data {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 3px #888;
}

p {
    margin: 1em 2em;
}

p#ifid {
    font-style: italic;
}

div.passage-card {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 2px #888;
}

p.passage-tags {
    font-style: italic;
    border: 1px solid #111;
    padding: 0.3em;
}

p.passage-source {
    border: 1px solid #111;
    padding: 1em;
    background-color: #f8f8f8;
    overflow: auto;
}

p.passage-source pre {
    font-family: Consolas, monaco, monospace;
    white-space: pre-wrap;
    line-height: 1.5em;
}

div#overlay {
    background: #eee;
    padding: 4em 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.hide {
    display: none;
}

#main.collapse p.passage-source {
    max-height: 20em;
}

div#content.simple {
    background-color: #fff;
}

div#content.simple div#story-data, div#content.simple div.passage-card, div#content.simple p.passage-tags {
    padding: 1em;
    box-shadow: none;
    background-color: #fff;
    border: 0;
}

div#content.simple p.passage-source {
    border: 0;
    padding: 1em;
    background-color: #eee;
    min-height: unset;
}