body {
    background-color: #eee;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

.pure-menu.pure-menu-horizontal {
    background-color: #111;
    position: fixed;
    top: 0;
    z-index: 100;
}

.pure-menu-link {
    color: #fafafa;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: #333;
}

.pure-menu-children {
    background-color: #555;
}

.pure-menu-horizontal .pure-menu-children {
    min-width: 100%;
}

div#content {
    margin: 4em 2em;
}

div#story-data {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 3px #888;
}

p {
    margin: 1em 2em;
}

p#ifid {
    font-style: italic;
}

div.passage-card {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 2px #888;
}

p.passage-tags {
    font-style: italic;
    border: 1px solid #111;
    padding: 0.3em;
}

div.passage-source {
    border: 1px solid #111;
    padding: 1em;
    margin: 1em;
    background-color: #f8f8f8;
    overflow: auto;
}

div.passage-source pre {
    font-family: Consolas, monaco, monospace;
    white-space: pre-wrap;
    line-height: 1.5em;
}

div#overlay {
    background: #eee;
    padding: 4em 2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.hide {
    display: none;
}

.smallify {
    height: 0;
    max-height: 0;
    overflow: hidden;
}

#main.collapse div.passage-source {
    max-height: 20em;
}

div#content.simple {
    background-color: #fff;
}

div#content.simple div#story-data, div#content.simple div.passage-card, div#content.simple p.passage-tags {
    padding: 1em;
    box-shadow: none;
    background-color: #fff;
    border: 0;
}

div#content.simple div.passage-source {
    border: 0;
    padding: 1em;
    background-color: #eee;
    min-height: unset;
}

div#content.simple pre.hljs {
    background-color: #eee;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }
    div#content {
        margin: 3em 1em 1em 1em;
    }
    div.passage-card {
        margin: 1em 0;
    }
    div.passage-source {
        margin: 0;
    }
}

/* modal: https://codepen.io/nodws/pen/dvusI */
.btn-close {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 7px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}
.modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}
.opened:before {
    display: block;
}
.opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 10%;
}
.modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin: auto;
    padding: 1em;
    text-align:center;
    position: fixed;
    left: 20%;
    top: -100%;
    z-index: 210;
    width: 60%;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-body {
    padding: 20px;
    overflow: auto;
    max-height: 15em;
    text-align: center;
}
.modal-header, .modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
    font-size: 20px;
}

.modal-footer {
    border-top: 1px solid #ccc;
}

.confirm-btn {
    float: left;
}
.cancel-btn {
    float: right;
}
.left-align {
    text-align: left;
}
.pure-form select {
    padding: 0;
}

/* comment sections */

div.passage-footer {
    text-align: center;
    border: 1px solid #111;
    transition: 300ms all;
    overflow: hidden;
}

div.passage-footer.closed {
    border: 0;
}

div.passage-footer button.comment-open {
    min-width: 100%;
    transition: 300ms all;
    font-size: 1rem;
}

div.passage-footer.closed button.comment-open {
    min-width: 10%;
    font-size: 1.2rem;
}

div.passage-footer button.comment-open::after {
    float: right;
    content: "\00d7";
}

div.passage-footer.closed button.comment-open::after {
    content: none;
}

div.comment-wrapper {
    margin: 1em;
    overflow: auto;
    max-height: 20em;
    transition: 300ms all;
}

div.passage-footer.closed div.comment-wrapper {
    margin: 0;
}

div.empty-comment.add-comment {
    text-align: center;
    color: #888;
    cursor: pointer;
}

div.empty-comment.add-comment:hover, div.empty-comment.add-comment:active {
    color: #111;
}

div.comment-wrapper div.comment-readout:last-child {
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}

div.comment-readout div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    padding: 1em;
    display: inline-block;
    height: 1em;
}

div.comment-readout:hover div {
    text-decoration: underline;
}

div.comment-readout:nth-child(odd) {
    background: #eee;
}

div.comment-readout div.number {
    max-width: 1em;
    float: left;
    
}
div.comment-readout div.title {
    max-width: 7em;
    float: left;
    font-weight: bold;
}
div.comment-readout div.content {
    max-width: 72%;
}

.modal-body .comment-content-out {
    white-space: pre-wrap;
    text-align: left;
}

input#comment-title, textarea#comment-content {
    width: 100%;
    margin: 0;
}

textarea#comment-content {
    height: 10em;
}

ul#credits {
    list-style: none;
}

.passage-card .edit {
    float: right;
    margin: 0;
    padding: 0.5em;
    display: none;
    z-index: 2;
    cursor: pointer;
    background: #ccc;
    border-radius: 50%;
    transition: 300ms all;
}

.passage-card:hover .edit {
    display: inline-block;
}

.passage-card:hover .edit:hover, .passage-card:hover .edit:active {
    display: inline-block;
    padding: 1em;
    background: #eee;
    border: 1px solid #ccc;
}

input[type="file"] {
    display: none;
}

/* errors */

div.lint-btn-wrapper {
    text-align: center;
}

div.errors {
    text-align: left;
}

p.error-p {
    padding-left: 1em;
    text-indent: -2em;
}

span.error-msg {
    padding-left: 1em;
    text-indent: 1em;
}

/* spinner */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(75,75,75, 0.2);
  border-right: 1.1em solid rgba(75,75,75, 0.2);
  border-bottom: 1.1em solid rgba(75,75,75, 0.2);
  border-left: 1.1em solid #4b4b4b;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* night mode */

html.night body {
    background: #333;
    color: #eee;
}

html.night div#story-data, html.night div.passage-card {
    background-color: #454545;
    box-shadow: 0 0 3px #000;
}

html.night div.passage-source {
    background-color: #333;
}

html.night .passage-card .edit {
    color: #111;
}

html.night div.comment-readout:nth-child(odd) {
    background: #333;
}

html.night div.comment-wrapper div.comment-readout:last-child {
    border-bottom: 1px solid #333;
}

html.night .pure-menu.pure-menu-horizontal {
    border-bottom: 1px solid #555;
}

.pure-menu-children {
    border: 1px solid #555;
    border-top: 0;
}

html.night .modal-dialog {
    background: #333;
    border: 1px solid #444;
}

html.night .modal-dialog input, 
html.night .modal-dialog textarea,
html.night .modal-dialog select {
    color: #111;
}

html.night .pure-form-message-inline {
    color: #aaa;
}

html.night .loader {
    border-top: 1.1em solid #666;
    border-right: 1.1em solid #666;
    border-bottom: 1.1em solid #666;
    border-left: 1.1em solid #eee;
}

html.night div#overlay {
    background: #333;
}

html.night div.empty-comment.add-comment:active, 
html.night div.empty-comment.add-comment:hover {
    color: #eee;
}

html.night div#content.simple {
    background-color: #333;
}

html.night div#content.simple div#story-data, 
html.night div#content.simple div.passage-card, 
html.night div#content.simple p.passage-tags {
    padding: 1em;
    box-shadow: none;
    background-color: #454545;
    border: 0;
}

html.night div#content.simple div.passage-source {
    border: 0;
    padding: 1em;
    background-color: #333;
    min-height: unset;
}

html.night div#content.simple div#main {
    background: #454545;
}